body {
    background: #202020;
    color: #4444aa;
}

tr.even {
    background: #ffffff;
    color: #202020;
}

tr.odd {
    background: #a0a0a0;
    color: #202020;
}

a {
    color: #4444aa;
}

th {
  background: #a0a0a0;
  color: #202020;
}

th, td {
    padding: 5px;
}
