{% extends "base.html" %}

{% block content %}

<div id="tabs">

</div>

<div id="blurb">

</div>

<div id="actionContainer">
    <div id="addComedianBlock" class="actionBlock">
        <h4>Witzbold hinzufügen</h4>
        <form action="" method="post">
            <label>Name:<input type="text" id="name" value="" /></label>
            <button type="button" id="btn-post" onclick="do_ajax('{{ url_for('admin.add_comedian') }}');">Hinzufügen</button>
            <div id="result"></div>
        </form>
    </div>

    <div id="removeComedianBlock" class="actionBlock">
        <h4>Witzbold entfernen</h4>
        <form action="" method="Post">
            Noch nicht implementiert!
        </form>
    </div>

    <div id="editJoke" class="actionBlock">
        <h4>Witz editieren</h4>
        Noch nicht implementiert!
    </div>
</div>


{% endblock %}
