<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static',filename='css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
{% if stylesheets %}
{% for s in stylesheets %}
<link href="{{ url_for('static', filename='css/' + s) }}" rel="stylesheet" type="text/css" media="all" />
{% endfor %}
{% endif %}
<html>
  <head>
  </head>  
  <body style="font-size: 1.5vw;" onload="requestJokes({{ url_for('jokes.get_jokes') }});">
    <h1 style="font-size: 266%;"><a href="{{ url_for('jokes.show_joke_list') }}">Schlechte Witze</a></h1>
    {% if session.get('logged_in') %}
    <a style="font-size: 120%;" href="{{ url_for('login.logout_please') }}">Logout</a>
    {% endif %}
    {% if session.get('is_admin') %}
    <a style="font-size: 120%;" href="{{ url_for('admin.show_admin_page') }}">Admin</a>
    {% endif %}    
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
  </body>
  {% if scripts %}
  {% for s in scripts %}
  <script src="{{ url_for('static', filename='js/' + s) }}"></script>
  {% endfor %}
  {% endif %}

</html>
