{% extends "base.html" %}

{% block content %}
<div style="padding-bottom: 15px;"><a href="{{ url_for('jokes.show_joke_form') }}"><button style="font-size: 100%;">schlechten Witz melden</button></a></div>
<div>
  <table id="jokeTable">
    <tr>
      <th>#</th>
      <th>Datum</th>
      <th>Name</th>
      <th>Bezahlt</th>
      <th>Punchline</th>
      <th style="width: 60%;">Kontext</th>
    </tr>
  </table>
</div>
<script>
 {% if session.get('is_admin') %}
 var is_admin=true;
 {% else %}
 var is_admin = false;
 {% endif %}
 var urlGetJokes = "{{ url_for('jokes.get_jokes') }}";
 var urlToggle = "{{ url_for('admin.toggle_payed_for') }}";
</script>

{% endblock %}
