{% extends "base.html" %}

{% block content %}
    <h2>Einen schlechten Witz melden</h2>
    <form action="{{ url_for('jokes.handle_joke_form') }}" method="post" id="jokeForm">
      Wer? 
      <select name="comedian" form="jokeForm">
	    {% for c in comedians %}
	    <option value="{{ c[0] }}">{{ c[0] }}</option>
	    {% endfor %}
      </select>
      Bezahlt <input type="checkbox" name="payed"><br>
      <br>
      Punchline:<br>
      <input type="text" name="punchline" size="40"><br>
      Kontext:<br>
      <textarea name="context" cols="40" rows="5"></textarea><br>
      <br>
      <button type="submit">Absenden</button>
    </form>
{% endblock %}
