{% extends "base.html" %}

{% block content %}
<div style="width: 100%; font-size:200%;">
  <form style="width: 100%;" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.password.label }}<br>
      {{ form.password(style="font-size: 80%;", size=32) }}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit(style="font-size: 80%;") }}</p>
  </form>
</div>
{% endblock %}
